<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to sidekiq job</h1>
    <p>
      You have successfully created User,
      your user is: <%= @user.name %><br>
    </p>
  </body>
</html>